
 div #red {
  border-top-color: 60px red;
  display: inline-block;
  min-width: 20em;
  border-radius: 50%;
 }

 div #orange {
  border-left-color: 50px orange;
  display: inline-block;
  min-width: 20em;
  border-radius: 50%;
 }

 div #yellow {
  border-right-color: 40px yellow;
  display: inline-block;
  min-width: 20em;
  border-radius: 50%;
 }

 div #green {
  border-bottom-color: 30px green;
  display: inline-block;
  min-width: 20em;
  border-radius: 50%;
 }

 div #blue {
  border-bottom-left-radius: 20px blue;
  display: inline-block;
  min-width: 20em;
  border-radius: 50%;
 }

 div #indigo {
  border-top-right-radius: 20px indigo;
  display: inline-block;
  min-width: 20em;
  border-radius: 50%;
 }

 div #violet {
  border-bottom-right-radius: 20px violet;
  display: inline-block;
  min-width: 20em;
  border-radius: 50%;
 }